{% extends 'main.html' %}

{% block content %}
    <h2>Blogs</h2>
    <form method="post" action="">
    {% csrf_token %}
    <ul>
        {% for blog in object_list %}
            <li>{{ blog.author.username }}</li>
            <label>
                {% if blog in subscriptions_blogs %}
                    <button type="submit" id="unsubscribe" name="blog_id" value="{{ blog.id }}">unfollow</button>
                {% else %}
                    <button type="submit" id="unsubscribe" name="blog_id" value="{{ blog.id }}">follow</button>
                {% endif  %}
            </label>
        {% endfor %}
    </ul>
    </form>
{% endblock %}
